<h1>Jewelleries</h1>
<%if logged_in?%>
<%= link_to "New Item", new_item_path %>

<%=link_to "Logout", logout_path%>
<%end%>


<div class="listing container mb-5">
<% @items.each do |item| %>
<div class="card border border-dark" style="width: 18rem;">
  <%=image_tag item.image.url(:medium) , class:"card-img-top" %>
  <div class="card-body">
    <h5 class="card-title"><%= item.name%></h5>
    <p class="card-text"> <%= truncate(item.description,length:100)%> </p>
    <%=link_to "View Item",item ,class:"btn btn-primary"%>
    <%=link_to "Add to Cart",item ,class:"btn btn-primary"%>
  </div>
</div>
  <% end %>
  </div>

