<h1><%= @item.name %></h1>
<div class="details">
    <%= image_tag @item.image.url(:large)%>
    <p>Price: <%= @item.price %><br/>
    Description: <%= @item.description %></p>
</div>
<ul>
    <li><%= link_to "Edit", edit_item_path(@item) %></li>
</ul>

<%=link_to "Back" , "/items" %>